<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2 class="text-align-center">Registration</h2>
  <div class="app-plate">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="registrationName">Name</label>
          <!--Use the name `name` for the form control.-->
          <input type="text" id="registrationName" name="name" placeholder="Input text"
                 formControlName="name" autocomplete="name"
            [ngClass]="{invalid:name?.invalid && (name?.touched || submitted),
                        valid:name?.valid && (name?.touched || submitted),
                        init:!name?.touched && !submitted}"
          />
          <ng-container *ngIf="name?.touched || submitted">
            <ng-container *ngIf="name?.hasError('required')">
              <span id="nameErrorMessage" class="text-danger">Name is required.</span>
            </ng-container>
            <ng-container *ngIf="name?.hasError('minlength')">
              <span id="nameErrorMessage" class="text-danger">Name must be 6 characters long.</span>
            </ng-container>
          </ng-container>    
        </div>
        <div class="form__control">
          <!--Use the name `email` for the form control.-->
          <label for="registrationEmail">Email</label>
          <input type="text" id="registrationEmail" name="email" placeholder="Input text"
                 formControlName="email" autocomplete="email"
                 [ngClass]="{invalid:email?.invalid && (email?.touched || submitted),
                             valid:email?.valid && (email?.touched || submitted),
                             init:!email?.touched && !submitted}"
          />
          <ng-container *ngIf="email?.touched || submitted">
            <ng-container *ngIf="email?.hasError('required')">
              <span id="emailErrorMessage" class="text-danger">Email is required.</span>
            </ng-container>
            <ng-container *ngIf="email?.hasError('invalidEmail')">
              <span id="emailErrorMessage" class="text-danger">Email is invalid</span>
            </ng-container>
          </ng-container>   
        </div>
        <div class="form__control">
          <!--Use the name `password` for the form control.-->
          <label for="password">Password</label>
          <div class="password-container">
            <input type="{{hideableRef.visible ? 'text' : 'password'}}" id="registrationPassword" name="password" placeholder="Input text"
                   formControlName="password"  hideable #hideableRef="hideableRef"
                   [ngClass]="{invalid:password?.invalid && (password?.touched || submitted),
                          valid:password?.valid && (password?.touched || submitted),
                          init:!password?.touched && !submitted}"
            />
            <fa-icon class="password-container_icon" (click)="hideableRef.toggle()" [icon]="hideableRef.visible ? visible : hidden"></fa-icon>
          </div>
          <ng-container *ngIf="password?.touched || submitted">
            <ng-container *ngIf="password?.hasError('required')">
              <span id="passwordErrorMessage" class="text-danger">Password is required.</span>
            </ng-container>
          </ng-container>   
        </div>
      </div>
      <div class="form__action">
        <app-button type="submit" buttonText="Register"></app-button>
      </div>
      <div class="form__text">
        If you don't have an account you may <strong>Login</strong>
      </div>
    </div>
  </div>
</form>
