@import "src/app/shared/styles/variables/colors";

.course-card-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  border-left: 8px solid $color-dark-gray;
  margin: 32px 0;
  min-height: 170px;
  width: 80vw;
  background-color: $color-white;
}

.course-card {
  display: flex;
  justify-content: space-between;
 

  &__description {
    flex: 2;

    &-title {
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }

  &__buttons {
    display: flex;
    margin-left: 0.5rem;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;

    &-actions {
      flex: 1;
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
      align-items: flex-end;
    }
  }
}
