<!-- Created a container to have title above both the description and info as it is in the figma plan. And description to be in the same level -->
<div class="course-card-container">
    <div class="course-card__description-title">{{courseInfo.title}}</div>
    <div class="course-card">
        <div class="course-card__description">
          <!-- Replace ::text:: with your code -->
          <div class="course-card__description-text">{{courseInfo.description}}</div>
        </div>
        <div class="course-card__info">
            <div class="course-card__info-text">
                <div>
                  <b>Authors: </b>
                  {{ courseInfo.authors | joinify:', ' }}
                </div>
                <div><b>Duration: </b><span class="course-card__duration">{{courseInfo.duration | duration}}</span></div>
                <div><b>Created: </b><span class="course-card__date">{{courseInfo.date | customDate}}</span></div>
            </div>
            <div class="course-card__info-actions">
                <app-button (click)="showCourseInfo()" [buttonText]="'Show Course'"></app-button>
                <div class="course-card__buttons">
                    <!--Enter your code here-->
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>
