<ng-template #loggedInUserHeaderContent>
  <span>{{user}}</span>
  <app-button [buttonText]="'Logout'"></app-button>
</ng-template>
<ng-template #loggedOutUserHeaderContent>
  <app-button [buttonText]="'Login'"></app-button>
</ng-template>

<app-header>
  <ng-container *ngIf="user.length>0; then loggedInUserHeaderContent; else loggedOutUserHeaderContent"></ng-container>
</app-header>
<div class="app-root">
  <app-courses [courses]="courses"></app-courses>
  <app-login-form></app-login-form>
  <app-registration-form></app-registration-form>
  <app-course-form></app-course-form>
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <!--<app-info></app-info>-->

  <!-- Course Card component -->
  <!--<app-course-card></app-course-card>-->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
