$color-white: #fff;
$color-gray: #CFCFCF;
$color-red: #FF0000;
$color-bg-invalid-input: rgba($color: #ff0000, $alpha: 0.05);
$color-bg-valid-input: rgba($color: #259d5d, $alpha: 0.1);
$color-border-init-input: rgba($color: #808080, $alpha: 1.0);

.app-plate {
    width: 100%;
    min-height: 477px;
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.app-error-text {
    color: $color-red;
    position: absolute;
    margin-top: 4px;
}

.form {
    &__control {
        margin-bottom: 24px;
    }

    &__action {
        margin-top: 54px;
    }

    &__text {
        text-align: center;
        margin-top: 38px;
      flex-wrap: wrap;
    }
}

.separator {
    width: 100%;
    border-bottom: 1px solid $color-gray;
}

.text-danger {
    color: red;
}

.invalid {
    background-color: $color-bg-invalid-input
  }
  .valid {
    background-color: $color-bg-valid-input
  }
  .init {
    border-color: $color-border-init-input
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &_icon {
        position: absolute;
        right: 0.5rem;
    }
}