<ng-container *ngIf="courseInfo; else courseList">
  <!-- Render course info -->
  <app-course-info (showCourseList)="handleShowCourses()" [course]="courseInfo"></app-course-info>
</ng-container>

<ng-template #courseList>
  <ng-container *ngIf="courses.length>0; else emptyList" > 
    <app-courses-list (showCourse)="handleShowCourseInfo($event)" [editable]="true" [courses]="courses" [authors]="authors"></app-courses-list>
  </ng-container>
</ng-template>

<ng-template #emptyList>
  <app-info [title]="emptyListTitle" [text]="emptyListText">
    <app-button [buttonText]="'ADD NEW COURSE'"></app-button>
  </app-info>
</ng-template>



